.nav {
  margin-bottom: 50px; 
}

.input-content {
  /*margin: 20px;*/
}

/*Input Styling*/

.slider{
  width:100%;
}

input[type=checkbox] {
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;

    border: double 2px #00F;

    background-color:#0b0095;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
}

.slider {
  -webkit-appearance: none;
  background: #ffa321;
  height: 15px;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: grey;
  border-radius: 50%; 
  cursor: pointer;
}

button {
  padding: 5px;
  border-radius: 10px;
  border: none;
}

#recordButton{
  margin-top: 80px;
  background-color: #5834eb;
  color: white;
}