{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-3">
			<h3>Options</h3>

			<div class="form-check">
				<!-- checkboxes -->
				<div class="checkbox">
					<label><input type="checkbox" class="form-check-input" id="live" name="live" onclick="checkboxFunction(this)" checked>Live Capture</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="form-check-input" id="simulated" name="simulated" onclick="checkboxFunction(this)" checked>Simulated Motion</label>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" class="form-check-input" id="recorded" name="recorded" onclick="checkboxFunction(this)">Recorded Motion</label>
				</div>
			</div>

		    <!-- simulated dancer options -->

			<label>Circle radius</label><input type="range" class="slider" id="radius-slider" value=25 max=50 min=1 onInput="updateRadiusVal()">
			<label>Speed</label><input type="range" class="slider" id="speed-slider" value=50 max=250 min=10 onInput="updateSpeedVal()">
			<label>Trace length</label><input type="range" class="slider" id="trace-slider" value=50 max=250 min=0 onInput="updateTraceVal()">

			<div class="pathways">
				<label>Pathway Type:</label>
				<button id="linearPath" type="button">Linear</button>
				<button id="circularPath" type="button">Circular</button>
				<button id="randomPath" type="button">Random</button>
			</div>

			<div class="facings">
				<label>Facing:</label>
				<button id="forwardFace" type="button">forward</button>
				<button id="rightFace" type="button">right</button>
				<button id="leftFace" type="button">left</button>
				<button id="backFace" type="button">backward</button>
			</div>


			<button id="recordButton" type="button">Start Recording</button>
		    <ul id="pastRecordings"></ul>
		</div>


		<div class="col-sm-9" id="canvas-div" style="  height: 600px; padding: 0px;"></div>
	</div>
</div>
<div class="container">
		<!-- About This Project -->
	<div class="about" align="center">
		<h2>About This Project</h2>
	</div>

</div>


{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.js"></script>
<script src={{ url_for('send_static', path='retrieve_mqtt.js') }}></script>
<script src={{ url_for('send_static', path='particle.js') }}></script>
<script src={{ url_for('send_static', path='dancer.js') }}></script>
<script src={{ url_for('send_static', path='sketch.js') }}></script>
{% endblock %}
